{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-one-expression-per-line": "off",
    "operator-linebreak": "warn",
    "prefer-template": "off",
    "react/jsx-wrap-multilines": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "warn",
    "react/jsx-fragments": "off",
    "camelcase": "off",
    "react/jsx-curly-newline": "off",
    "no-unescaped-entities": "off",
    "no-nested-ternary": "off",
    "react/display-name": "off"
  }
}
